<div class="btn-group">
    <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        @Resources.Resource.ChooseLang
    </button>
    <ul class="dropdown-menu">
        <li id="ru">
            <div class="flag flag-ru"></div>
            @Html.ActionLink("Русский", "Index", new { lang = "ru" })
        </li>
        <li id="en">
            <div class="flag flag-en"></div>
            @Html.ActionLink("English", "Index", new { lang = "en" })
        </li>
    </ul>
</div>