
<div class="btn-group">
    <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Изменить язык
    </button>
    <ul class="dropdown-menu">
        <li>
            @Html.ActionLink("ru", "ChangeCulture", new { language = "ru" })
        </li>
        <li>
            @Html.ActionLink("en", "ChangeCulture", new { language = "en" })
        </li>
    </ul>
</div>