@model IEnumerable<Business.Models.Comment>

<link rel="stylesheet" type="text/css" href="~/Content/Site.css" />

@foreach (var comment in Model)
{
    <article class="comment">
        <div class="commentuser">@comment.UserName</div>
        <div class="commentdate">@comment.PubDate.Value.AddHours(3).ToString("dd.MM.yyyy hh:mm")</div>
        <div class="commenttext">@comment.Text</div>
    </article>
}