<?xml version="1.0" encoding="utf-8"?>
<!--
Этот файл используется процессом публикации или упаковки вашего веб-проекта. Можно настроить поведение этого процесса,
изменив этот файл MSBuild. Подробности см. на странице https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/5d80945f-1d35-499f-a2fd-3879b7269b84/resourcegroups/myResourceGroup/providers/Microsoft.Web/sites/NewsPortal20200702133310</ResourceId>
    <ResourceGroup>myResourceGroup</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://newsportal20200702133310.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>newsportal20200702133310.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>NewsPortal20200702133310</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <InstallAspNetCoreSiteExtension>False</InstallAspNetCoreSiteExtension>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$NewsPortal20200702133310</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="NewsPortalDbConnection" Order="1" Enabled="False">
          <Destination Path="Data Source=tcp:testnewsportal20200702113407dbserver.database.windows.net,1433;Initial Catalog=NewsPortal20200702133310_db;User ID=Dmitroson@testnewsportal20200702113407dbserver;Password=#include_Root" Name="Data Source=tcp:testnewsportal20200702113407dbserver.database.windows.net,1433;Initial Catalog=NewsPortal20200702133310_db;User Id=Dmitroson@testnewsportal20200702113407dbserver;Password=#include_Root" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="NewsPortal.Models.ApplicationDbContext, NewsPortal" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="NewsPortalDbConnection-Web.config Connection String">
      <ParameterValue>Data Source=tcp:testnewsportal20200702113407dbserver.database.windows.net,1433;Initial Catalog=NewsPortal20200702133310_db;User Id=Dmitroson@testnewsportal20200702113407dbserver;Password=#include_Root</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>